* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    transition: 0.5s;
    text-decoration: none;
    color: black;
}

span {
    color: red;
}

.header {
    background-color: rgb(253, 253, 253);
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 5px solid red;
    position: fixed;
    width: 100%;
    top: 0px;
    
    z-index: 1;
}

.header h1 {
    margin-left: -1000px;
    transition: 0.5s;
    animation-name: slideIn;
    animation-duration: 1s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
}

@keyframes slideIn {
    from {
        margin-left: -1000px;
    }
    to {
        margin-left: 0;
    }
}

.header h1:hover {
    color: red;
    transform: scale(1.01);
}

.header h1:hover span {
    color: black;
}

.header span {
    color: red;
    transition: 0.5s;
}

.link-wrapper a {
    text-decoration: none;
    color: black;
    margin: 0 10px;
    font-size: 20px;
    text-transform: lowercase;
}

.link-wrapper a:hover {
    color: red;
}

@media screen and (max-width: 800px) {
    .full-logo,
    .link-wrapper {
        display: none;
    }
    .header {
        padding-right: 10px;
        padding-left: 20px;
        padding-left: 5;
    }
    .menu-btn {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 70px;
        cursor: pointer;
    }
    .menu-btn-burger {
        width: 40px;
        height: 4px;
        background-color: black;
        transition: 0.5s;
    }
    .menu-btn-burger::before,
    .menu-btn-burger::after {
        content: "";
        position: absolute;
        width: 40px;
        height: 4px;
        background-color: black;
        transition: 0.5s;
    }

    .menu-btn-burger::before {
        transform: translateY(-10px);
    }

    .menu-btn-burger::after {
        transform: translateY(10px);
    }
    .menu-btn.open .menu-btn-burger {
        transform: rotate(180deg);
        background-color: transparent;
    }
    .menu-btn.open .menu-btn-burger::before {
        transform: rotate(45deg);
    }
    .menu-btn.open .menu-btn-burger::after {
        transform: rotate(-45deg);
    }
    .mobile-menu {
        height: calc(100vh - 80px);
        width: 100%;
        background-color: red;
        position: fixed;
        right: -100%;
        margin-top: 80px;
        z-index: 999;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s;
    }
    .mobile-link-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .mobile-link {
        margin: 10px;
        font-size: 25px;
    }
}

@media screen and (min-width: 800px) {
    .mobile-logo,
    .menu-btn,
    .mobile-menu {
        display: none;
    }
}

#hero-section {
    position: relative;
    width: 100%;
}

#hero-section img {
    width: 100%;
    height: calc(100vh - 80px);
    margin-top: 80px;
    object-fit: cover;
}

.hero-image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 80px);
    margin-top: 80px;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-image-overlay h1 {
    color: white;
    font-size: 30px;
    text-align: center;
}

.hero-image-overlay a {
    text-decoration: none;
    color: white;
    background-color: transparent;
    padding: 10px 20px;
    border: 2px solid white;
    font-size: 20px;
    border-radius: 10px;
}

.hero-image-overlay a:hover {
    background-color: white;
    color: black;
    animation-name: shake;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(5deg);
    }
}

.section {
    min-height: 60vh;
}

#services-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 100px;
}

.service-card {
    width: 300px;
    margin: 2%;
    background-color: white;
    border-radius: 10px;
    height: 40vh;

    transition: 0.5s;
    border: 1px solid black;
}

@media screen and (max-width: 800px) {
    .service-card {
        min-height: 40px;
        height: unset;
    }
}

.service-card:hover {
    transform: scale(1.01);
}

.service-card p {
    padding: 20px;
    height: 20vh;
    overflow: auto;
}

.service-card-header-wrapper {
    width: 100%;
    background-color: red;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.service-card-header-wrapper i {
    border-radius: 50%;
    background-color: black;
    padding: 15px;
    font-size: 20px;
}

#about-section {
    display: grid;
    grid-template-columns: 50% 50%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../media/img/Background.jpg");
    margin: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.about-image-wrapper,
.about-text-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#about-section img {
    width: 50vh;
    height: 50vh;
    object-fit: cover;
    border: 5px solid red;
    border-radius: 50%;
    padding-left: 5px;
}

.about-text-wrapper {
    padding-right: 25%;
    color: white;
}

.about-text-wrapper h2 {
    border-bottom: 2px solid red;
    padding-bottom: 30px;
    margin-bottom: 30px;
    font-size: 40px;
}

.about-text-wrapper p {
    line-height: 25px;
}

@media screen and (max-width: 800px) {
    #about-section {
        grid-template-columns: 100%;
    }
    #about-section img {
        width: 30vh;
        height: 30vh;
        margin-top: 40px;
    }
    .about-text-wrapper {
        padding: 0 40px;
        text-align: justify;
        margin-bottom: 40px;
    }
    .about-text-wrapper h2 {
        text-align: center;
    }
}

footer {
    background-color: rgb(37, 37, 37);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0px;
}

#contact-section form {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    border-radius: 10px;
    padding: 20px;
}

#contact-section form input,
#contact-section form textarea {
    width: 90%;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #acacac;
    font-size: 15px;
}

#contact-section form input:focus,
#contact-section form textarea:focus {
    outline: none;
    box-shadow: 0px 0px 5px black;
}

#contact-section form button {
    align-self: flex-end;
    margin-right: 5%;
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid red;
    color: black;
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
}

#contact-section form button:hover {
    background-color: black;
    color: white;
}

.contact-info-wrapper {
    margin: 40px 0px;
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: flex-start;
}

.contact-info-wrapper p,
.contact-info-wrapper a,
.contact-info-wrapper i {
    color: white;
    font-size: 25px;
    margin: 10px 0;
}

.contact-info-wrapper a {
    margin-left: 10px;
}

.contact-info-wrapper a:hover {
    margin-left: 20px;
}

#service-modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    display: none;
    justify-content: center;
    align-items: center;
}

.service-modal {
    width: 50%;
    height: 50vh;
    background-color: white;
    border-radius: 10px;
}

.modal-header {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid #e1e1e1;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

.modal-header span {
    cursor: pointer;
}

#service-modal-content {
    padding: 10px;
}

#service-modal-content img {
    width: 100%;
    height: 20vh;
    object-fit: cover;
}

/*skillset style*/

.gallery {
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-rows: 2fr 2fr;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    gap: 30px;
}

.gallery img {
    width: 250px;
    height: 250px;
    cursor: pointer;
    filter: grayscale(100%);
    transition: 1s;
    object-fit: cover;
}

.gallery img:hover {
    filter: grayscale(0%);
    transform: scale(0.8);
    border-radius: 20px;
    box-shadow: 0 32px 75px rgba(68, 77, 136, 0.2);
}

.full-img {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 100;
}

#fullimg img {
    width: 100%;
    max-width: 500px;
}

.full-img span {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: white;
    cursor: pointer;
}



.killer-mini-nails {
    display: flex;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.killer-mini-nails img {
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin: 10px;
}


@media screen and (max-width: 800px) {
    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

@media screen and (max-width: 600px) {
    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}
